@model IEnumerable<SCECinema.Models.Showing>
@using SCECinema.Models

@{
    ViewBag.Title = "Showing";
}

<h2>Showings</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheatreNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Movie.Title, "Details", "Showings", new { id = item.ShowingID }, new { @class = "btn btn-link" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @if (item.TheatreNum == Theatre.TheatreOne)
                {<p>1</p>}
                @if (item.TheatreNum == Theatre.TheatreTwo)
                {<p>2</p>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ShowingID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ShowingID })
                    </p>
                }
                @if ((item.StartTime > DateTime.Now) && !(User.IsInRole("Employee") || User.IsInRole("Manager")))
                {@Html.ActionLink("Buy Ticket", "Create", "Tickets", new { ShowingID = item.ShowingID }, new { @class = "btn btn-primary" })}
            </td>
        </tr>
        }
    </tbody>
</table>
